/*
 * M3ScaleAnalytics.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 11/17/2016
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using M3ScaleAnalytics.PCL;
using M3ScaleAnalytics.PCL.Http.Request;
using M3ScaleAnalytics.PCL.Http.Response;
using M3ScaleAnalytics.PCL.Http.Client;
using M3ScaleAnalytics.PCL.Exceptions;
using M3ScaleAnalytics.PCL.Models;

namespace M3ScaleAnalytics.PCL.Controllers
{
    public partial class ApplicationOpsController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static ApplicationOpsController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static ApplicationOpsController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new ApplicationOpsController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Returns the usage data for a given metric (or method) of an application.
        /// </summary>
        /// <param name="format">Required parameter: Example: json</param>
        /// <param name="accessToken">Required parameter: Example: </param>
        /// <param name="applicationId">Required parameter: Example: </param>
        /// <param name="metricName">Required parameter: Example: </param>
        /// <param name="since">Required parameter: Example: </param>
        /// <param name="granularity">Required parameter: Example: month</param>
        /// <param name="period">Optional parameter: Example: </param>
        /// <param name="until">Optional parameter: Example: </param>
        /// <param name="timezone">Optional parameter: Example: UTC</param>
        /// <param name="skipChange">Optional parameter: Example: </param>
        /// <return>Returns the dynamic response from the API call</return>
        public dynamic GetStatsApplicationsUsageByApplicationId(
                FormatEnum format,
                string accessToken,
                int applicationId,
                string metricName,
                string since,
                GranularityEnum granularity,
                PeriodEnum? period = null,
                string until = null,
                TimezoneEnum? timezone = TimezoneEnum.UTC,
                bool? skipChange = null)
        {
            Task<dynamic> t = GetStatsApplicationsUsageByApplicationIdAsync(format, accessToken, applicationId, metricName, since, granularity, period, until, timezone, skipChange);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Returns the usage data for a given metric (or method) of an application.
        /// </summary>
        /// <param name="format">Required parameter: Example: json</param>
        /// <param name="accessToken">Required parameter: Example: </param>
        /// <param name="applicationId">Required parameter: Example: </param>
        /// <param name="metricName">Required parameter: Example: </param>
        /// <param name="since">Required parameter: Example: </param>
        /// <param name="granularity">Required parameter: Example: month</param>
        /// <param name="period">Optional parameter: Example: </param>
        /// <param name="until">Optional parameter: Example: </param>
        /// <param name="timezone">Optional parameter: Example: UTC</param>
        /// <param name="skipChange">Optional parameter: Example: </param>
        /// <return>Returns the dynamic response from the API call</return>
        public async Task<dynamic> GetStatsApplicationsUsageByApplicationIdAsync(
                FormatEnum format,
                string accessToken,
                int applicationId,
                string metricName,
                string since,
                GranularityEnum granularity,
                PeriodEnum? period = null,
                string until = null,
                TimezoneEnum? timezone = TimezoneEnum.UTC,
                bool? skipChange = null)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/stats/applications/{application_id}/usage.{format}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "format", FormatEnumHelper.ToValue(format) },
                { "application_id", applicationId }
            });

            //process optional query parameters
            APIHelper.AppendUrlWithQueryParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "access_token", accessToken },
                { "metric_name", metricName },
                { "since", since },
                { "granularity", GranularityEnumHelper.ToValue(granularity) },
                { "period", (period.HasValue) ? PeriodEnumHelper.ToValue(period.Value) : null },
                { "until", until },
                { "timezone", (timezone.HasValue) ? TimezoneEnumHelper.ToValue(timezone.Value) : "UTC" },
                { "skip_change", skipChange }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<dynamic>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 